label.required,
label .required {
  position: relative;

  &::after {
    content: "*";
    position: absolute;
    right: -11px;
    top: 0;
    color: var(--danger-rgb-70);
  }
}


.editable-row-table {
  input {
    border: none;
    background: transparent;
  }

  .delete-btn {
    display: none;
  }

  th {
    .custom-checkbox {
      display: none;
    }
  }

  tr {
    &:hover {
      .delete-btn {
        display: inline-block;
      }
    }

    &.active {
      background-color: transparent !important;
      border-left: 0 !important;
    }
  }
}

.snip_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  height: 50px;
  width: auto;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 19px;





}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  height: 50px;
  width: 40px;
  background-color: #4B4B4B;

}

.icon:hover {
  cursor: pointer;
}

.icon i {
  font-size: 22px;
  color: #5A9AB2;
}