label.required,
label .required {
  position: relative;

  &::after {
    content: "*";
    position: absolute;
    right: -11px;
    top: 0;
    color: var(--danger-rgb-70);
  }
}


.editable-row-table {
  input {
    border: none;
    background: transparent;
  }

  .delete-btn{
    display: none;
  }

  th{
    .custom-checkbox{
      display: none;
    }
  }

  tr{
    &:hover{
      .delete-btn{
        display: inline-block;
      }
    }

    &.active{
      background-color: transparent !important;
      border-left:0 !important;
    }
  }
}
