// TREEVIEW
.e-treeview {
  .e-list-parent {
    .e-list-item {
      .e-text-content {
        .e-list-text {
          width: 100%;
          i {
            font-size: 16px;
          }
        }
      }
    }
  }
}


.column {
  &.dragging {
    box-shadow: 0 0 2rem 0 #00000026;
  }
}

.task {
  &.dragging {
    box-shadow: 0 0 2rem 0 #00000026;
  }
}


.docs__sidebar {
  position: fixed;
  padding: 10px 0;
  top: 1rem;
  bottom: -.5rem;
  z-index: 100;
  .content__scroll {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 50px !important;
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #c6c6c6;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #a4a4a4;
      position: relative;
    }
  }
}

.docs_sidebar{
  margin:0;

  .content_scroll{
    overflow: scroll;
    height: calc(100vh - 90px);
  }
}

.docs_right {
  .frame-header{
    padding: 0;
    padding-bottom: 10px;
    padding-top: 2px;
    width: 100%;
  }

  .docs_content{
    height: calc(100vh - 83px);
    margin:0;
    overflow: scroll;
  }
}

.response-card {
  overflow-x: auto;
  padding: 3px;
  .response-item{
    border: 1px solid #e1e1e1;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    margin-top: 1rem;
    position: relative;

    .delete-btn{
      position: absolute;
      display: none;
      z-index: 100;
      right: -13px;
      top: -13px;
      width: 30px !important;
      height: 30px !important;
      border-radius: 50%;
      border: 1px solid #444;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &:hover{
      & .delete-btn{
        display: flex;
      }
    }
  }
  code { color: #2e3034;  }
  .response-label{
    color: #a4adb2;
    margin-bottom: 10px;
  }
  .response-code {
    word-break: initial;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    padding: 10px;
    background: #f3f5f9;
    overflow-y: auto;
    max-height: 250px;
  }
  pre {
    margin-bottom: 0;
    color: #688191;
    .key {
      color: #5c626b;
    }
    .string {
      color: #1ea672;
    }
    .integer {
      color: #e56f4a;
    }
    .number {
      color: #ff8c00;
    }
    .boolean {
      color: #6c8eef;
    }
  }
}


@media (max-width: 768px) {
  .docs__sidebar {
    position: relative;
    z-index: 0;
    height: auto;
  }
}

.response {
  background: #f2f5f9;
  border-radius: 6px;
  color: #fff;
  .key {
    color: red;
  }
  .string {
    color: green;
  }
  .number {
    color: darkorange;
  }
  .boolean {
    color: blue;
  }
}


// Docs Tab
.docs__tab {
  .horizontal-navbar{
    width: 100% !important;
  }

  .nav-item{
    flex:1;
    .nav-link{
      width: 100%;
      padding: 10px 15px !important;
    }
  }
}




/*** DARK MODE ***/
.dark {
  // Tree view
  .e-treeview {
    .e-list-parent {
      .e-list-item {
        .e-text-content {
          .e-list-text {
            width: 100%;
            color: #fff !important;
          }
          .e-icons {
            &:before {
              color: #fff;
            }
          }
        }
      }
      .e-active > .e-fullrow {
        background-color: #363636 !important;
        border: #363636 !important;
      }
      .e-hover > .e-fullrow {
        background-color: #363636 !important;
        border: #363636 !important;
      }
    }
  }

  // Docs sidebar
  .docs__sidebar {
    .content__scroll {
      &::-webkit-scrollbar-track {
        border-radius: 50px !important;
        background: #242424;
      }
      &::-webkit-scrollbar-thumb {
        background: #404040;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #262626;
      }
    }
  }
}
