// TABLE //
table {
  thead th,
  tbody td {
    vertical-align: middle !important;
  }
}

.table-line {
  display: flex;
  .table-line-title {
    align-items: center;
    padding-right: 10px;
    font-size: 15px;
    color: #6FA3C0;
    transition: 0.1s ease-in-out;
  }
  .more-vertical {
    font-size: 22px;
    color: #8F8F8F;
    &:hover {
      color: $primary_color;
    }
  }
  &:hover {
    .table-line-title {
      color: #4c88f3;
    }
  }
}


.docs__stripe {
  max-height: 540px;
  overflow-y: auto;
}


// TREEVIEW
.e-treeview {
  .e-list-parent {
    .e-list-item {
      .e-text-content {
        .e-list-text {
          width: 100%;
          i {
            font-size: 16px;
          }
        }
      }
    }
  }
}


.docs__tab {
  button {
    outline: none;
    padding: 12px 60px;
    border: none;
    color: #000;
    background-color: #F2F1F1;
    transition: all 0.2s ease;
    cursor: pointer;
    &:first-child {
      border-radius: 10px 0 0 0;
    }
    &:last-child {
      border-radius: 0 10px 0 0;
    }
    &:hover {
      background-color: #dedede;
    }
  }
  .active {
    color: #fff;
    background-color: $primary_color;
    &:hover {
      background-color: #528aec;
    }
  }
}


// SimpleEditor styles
//.params-section {
//  width: 100%;
//  height: 4rem;
//  background: #EFF6FB;
//  border-radius: 10px 10px 0 0;
//  display: flex;
//  .params-label {
//    padding: 16px 10px;
//    p {
//      font-weight: 400;
//      color: #ABABAB;
//    }
//  }
//}
//
//.params-type {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  width: 100%;
//  background-color: #fff !important;
//  border-radius: 5px;
//  cursor: pointer;
//  margin-top: -3px;
//  height: 2.8rem !important;
//  color: #000000;
//}
//
//.params-inputs {
//  width: 100%;
//  padding: 20px 0;
//  margin-top: 4px;
//  background: #EFF6FB;
//  display: flex;
//  justify-content: center;
//  .params-label {
//    .check_label {
//      width: 1.6rem;
//      height: 1.6rem;
//      border: none;
//      outline: none !important;
//      user-select: none;
//      background: none;
//    }
//    i {
//      width: 2.3rem;
//      background-color: #fff;
//      height: 2rem;
//      cursor: pointer;
//      border-radius: 7px;
//      font-size: 1.8em;
//      display: flex;
//      justify-content: center;
//      align-items: center;
//    }
//    .feather-check,
//    .feather-plus {
//      &:hover {
//        background-color: #65CA8F;
//        color: #fff !important;
//      }
//    }
//    .feather-minus,
//    .feather-trash-2 {
//      &:hover {
//        background-color: #f5365c;
//        color: #fff !important;
//      }
//    }
//  }
//}
//
//
//@media (max-width: 1024px) {
//  .params-inputs {
//    .params-rows {
//      width: 16.666666666666% !important;
//    }
//  }
//}

// Resizer
//.Resizer {
//  background: #000;
//  opacity: 0.2;
//  z-index: 1;
//  -moz-box-sizing: border-box;
//  -webkit-box-sizing: border-box;
//  box-sizing: border-box;
//  -moz-background-clip: padding;
//  -webkit-background-clip: padding;
//  background-clip: padding-box;
//}
//
//.Resizer:hover {
//  -webkit-transition: all 2s ease;
//  transition: all 2s ease;
//}
//
//.Resizer.horizontal {
//  height: 11px;
//  margin: -5px 0;
//  border-top: 5px solid rgba(255, 255, 255, 0);
//  border-bottom: 5px solid rgba(255, 255, 255, 0);
//  cursor: row-resize;
//  width: 100%;
//}
//
//.Resizer.horizontal:hover {
//  border-top: 5px solid rgba(0, 0, 0, 0.5);
//  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
//}
//
//.Resizer.vertical {
//  width: 11px;
//  margin: 0 -5px;
//  border-left: 5px solid rgba(255, 255, 255, 0);
//  border-right: 5px solid rgba(255, 255, 255, 0);
//  cursor: col-resize;
//}
//
//.Resizer.vertical:hover {
//  border-left: 5px solid rgba(0, 0, 0, 0.5);
//  border-right: 5px solid rgba(0, 0, 0, 0.5);
//}
//.Resizer.disabled {
//  cursor: not-allowed;
//}
//.Resizer.disabled:hover {
//  border-color: transparent;
//}

