.text-gold {
  color: #E1A647;
  font-style: italic;
}

.editor-count {
  background-color: #E9EDEF;
}
.react-json_editor {
  width: 100%;
  background-color: #f2f5f9;
  border-radius: 5px;
  overflow: hidden;
  .editor-line {
    padding-left: 50px;
    height: 27px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #e2e2e2;
    .type {
      color: #f5365c;
    }
  .editor-line-btn {
    visibility: hidden;
  }

  &:hover {
    background-color: #E9EDEF;
    .editor-line-btn {
      visibility: visible;
    }
    .json_comment {
      .text-gold {
        visibility: visible;
      }
    }
  }
}

  form {
    width: auto;
  }


  .json_edit {
    background-color: transparent !important;
    .json_input {
      padding: 0 5px;
      box-shadow: none;
      background-color: #fff !important;
      border-radius: 5px;
      border: none;
      outline: none;
    }
    .feather-check {
      background-color: #00A3FF;
      padding: 4px;
      color: #fff;
      border-radius: 5px;
      margin-left: 1em;
      cursor: pointer;
    }
  }

  .json_comment {
    .text-gold {
      visibility: hidden;
    }
  }

  .dropdown_type {
    height: 30px;
    padding: 0 !important;
  }

  .a-r__buttons {
    float: right;
    i {
      width: 20px;
      height: 20px;
      border-radius: 4px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      cursor: pointer;
      &:hover {
        background-color: #f3f4f8;
      }
    }
  }


  .badge-input,
  .badge-select {
    border: none;
    outline: none;
    color: #666;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 2px;
  }
  .badge-input {
    max-width: 60px;
    background-color: #FFE9C6;
  }
  .badge-select {
    max-width: 100px;
    background-color: #F9DAD0;
    option {
      background-color: #fff !important;
      border: none !important;
      outline: none !important;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
      border-radius: 5px;
    }
  }

  .badge-ok_btn {
    max-width: 40px;
    border: none;
    outline: none;
    background-color: #00A3FF;
    color: #fff;
    border-radius: 5px;
    padding: 0 10px;
    margin-left: 3px;
  }
  .badge-x_btn {
    max-width: 40px;
    border: none;
    outline: none;
    background-color: #f5365c;
    color: #fff;
    border-radius: 5px;
    padding: 0 10px;
    margin-left: -3px;
  }
}


.is_required {
  width: 0;
  height: 0;
  position: absolute;
  top: 4px;
  cursor: pointer;
  font-size: 21px;
  left: 2.2rem;
  z-index: 10;
  user-select: none;
  transition: all .2s ease;
  &:before {
    content: '*';
  }
  &:hover {
    color: #f5365c !important;
  }
  &.active {
    color: #f5365c !important;
    &:before {
      content: '*';
      transform: rotate(90deg);
    }
  }
}

.static__width {
  width: 5rem !important;
}


/*** DARK MODE ***/
.dark {
  .text-gold {
    color: #5ecc62;
    font-style: italic;
  }
  .editor-count {
    background-color: #242424;
  }
  .react-json_editor {
    width: 100%;
    background-color: #363636;
    border-radius: 5px;
    .editor-line {
      padding-left: 50px;
      height: 27px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-left: 1px solid $bg-darkV2;
      .type {
        color: #ffd600 ;
      }
      .editor-line-btn {
        visibility: hidden;
      }

      &:hover {
        background-color: #292929;
        .editor-line-btn {
          visibility: visible;
        }
        .json_comment {
          .text-gold {
            visibility: visible;
          }
        }
      }
    }

    form {
      width: auto;
    }

    .json_edit {
      background-color: transparent !important;
      .json_input {
        padding: 0 5px;
        box-shadow: none;
        background-color: #404040 !important;
        border-radius: 5px;
        border: none;
        outline: none;
      }
      .feather-check {
        background-color: #00A3FF;
        padding: 4px;
        color: #fff;
        border-radius: 5px;
        margin-left: 1em;
        cursor: pointer;
      }
    }

    .json_comment {
      .text-gold {
        visibility: hidden;
      }
    }

    .dropdown_type {
      height: 30px;
      padding: 0 !important;
    }

    .a-r__buttons {
      float: right;
      i {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background-color: #363636;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        cursor: pointer;
        &:hover {
          background-color: transparent;
        }
      }
    }


    .badge-input,
    .badge-select {
      border: none;
      outline: none;
      color: #666;
      border-radius: 5px;
      padding: 0 5px;
      margin: 0 2px;
    }
    .badge-input {
      max-width: 60px;
      background-color: #FFE9C6;
    }
    .badge-select {
      max-width: 100px;
      background-color: #F9DAD0;
      option {
        background-color: #fff !important;
        border: none !important;
        outline: none !important;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
        border-radius: 5px;
      }
    }

    .badge-ok_btn {
      max-width: 40px;
      border: none;
      outline: none;
      background-color: #00A3FF;
      color: #fff;
      border-radius: 5px;
      padding: 0 10px;
      margin-left: 3px;
    }
    .badge-x_btn {
      max-width: 40px;
      border: none;
      outline: none;
      background-color: #f5365c;
      color: #fff;
      border-radius: 5px;
      padding: 0 10px;
      margin-left: -3px;
    }
  }

}