@import "jsonEditor";
@import "treeStyles";
@import "ckeditor";
@import "stripe";
@import "docs";
@import "antd";


.bg-white {
  background-color: #fff !important;
}

.test_card {
  width: 10rem;
}

.over,
.item {
  transition: all .2s ease-in-out;
}


.item.over {
  padding-top: 20px;
}
