.json-editor_container{
  font-size: 14px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;

  ul{
    margin: 0;
  }

  .json-editor_left{
    width: 50px;
    height: 100%;
    padding: 7px;
    background: #E9EDEF;
    display: flex;
    flex-direction: column;

    .editor-num{
      margin:3px;
      text-align: center;
      color: var(--dark-rgb-40);
    }
  }

  .json-editor_right{
    flex:1;
    height: 100%;
    background: var(--secondary-rgb-80);
    padding: 7px 0;
    display: flex;
    flex-direction: column;

    .editor-row-list{
      padding-left: 20px;

    }

    .editor-item{
      height: 28px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .editor-item-input-container{
        width: 150px;
        display: flex;
        align-items: center;

        input{
          padding: 0 5px;
          box-shadow: none;
          background-color: #fff !important;
          border-radius: 5px;
          border: none;
          outline: none;
          width: 100%;
          margin-right: 10px;
        }

        i{
          background-color: #00A3FF;
          padding: 4px;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .editor-value-select{
        border: none;
        outline: none;
        background: transparent;
      }

      .editor-item-content{
        display: flex;
      }
      .editor-item-key::before{
        content: '"';
      }
      .editor-item-key::after{
        content: '":';
      }

      .editor-item-required{
        color: var(--dark-rgb-20);
        font-size: 12px;
        margin-right: 4px;
        padding: 3px;
        cursor: pointer;

        &:hover{
          color: var(--danger-rgb-70);
        }
      }

      .editor-item-comment-placeholder{
        color: #1b62b7;
        margin-left: 10px;
        display: none;
      }

      .editor-item-comment{
        color: var(--dark-rgb-40);
        margin-left: 10px;

        &::before{
          content: '// ';
        }

        &.comment-placeholder{
          color: #1b62b7;
          display: none;

          &::before{
            content:'// write comment'
          }
        }
      }



      .editor-icons{
        display: none;
        margin-right: 10px;

        i{
          padding: 4px;
          background: white;
          border-radius: 4px;
          margin-right: 5px;

          &:hover{
            background: #e8e8e8;
          }
        }

        .add-icon{
          color: black;
        }
        .trash-icon{
          color: red;
        }
      }


      &:hover{
        background: #E9EDEF;

        .comment-placeholder{
          display: inline-block;
        }
        .editor-icons{
          display: flex;
        }
      }


    }

    .editor-new-line{
      display: flex;
      height: 28px;
      align-items: center;

      select,
      input{
        height: 100%;
        border: none;
        outline: none;
        color: #666;
        border-radius: 5px;
        padding: 0 5px;
        margin: 0 2px;
        max-width: 100px;
        background-color: #fefdd2b0;
      }

      //select:first-child{
      //  background-color: #fdf7b5;
      //}

      .new-line-icons{
        margin-left: 10px;

        i{
          cursor: pointer;
          padding: 4px;
          background: white;
          border-radius: 4px;
          margin-right: 5px;
        }

        .add-icon{
          color: var(--primary-rgb-90);
          &:hover{
            color: white;
            background: var(--primary-rgb-90);
          }
        }

        .trash-icon{
          color: red;
          &:hover{
            color: white;
            background: var(--danger-rgb-90);
          }
        }
      }


    }
  }
}
